.background {
  height: 100vh;
}

.background img {
  width: 100%;
  position: absolute;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.front-layer {
  z-index: 2;
}

.landing-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.landing-content * {
  color: aliceblue;
}

.mid-layer {
  z-index: 1;
}

.back-layer {
  z-index: 0;
}

.mulai-perjalanan {
  position: absolute;
  left: 50%;
  bottom: 10%;
  color: aliceblue;
  text-align: center;
  transform: translate(-50%, -50%);
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: lightblue;
  z-index: -2;
}

#landing-page {
  display: none;
}

#slider {
  display: none;
}

.micky-team {
  font-family: Georgia, serif;
  position: absolute;
  opacity: 0;
  z-index: 6;
}

.background-landing-animation {
  height: 100vh;
  width: 100vw;
  background-color: darkslategray;
  position: absolute;
}

.sliderAnimation {
  background-color: aliceblue;
  height: 175px;
  width: 175px;
  border-radius: 90pt;
  z-index: 5;
}
